.sidenav-small {
    border: 1px solid black;
    width: 60px;
}

.sidenav-full {
    border: 1px solid black;
    width: 200px;
}

.main-div {
    display: flex;
}

.homepage {
    width: 100%;
}

.border {
    border: 1px solid black;
}